@model IEnumerable<EmprestimosModel>

<div class="conteiner">
    <div class="d-flex justify-content-between align-itens-center mb-5">
        <h1>Empréstimos</h1>
        <a class="btn btn-success mx-2" asp-controller="Emprestimos" asp-action="Cadastrar">
            Fazer Empréstimo
        </a>
    </div>

<table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Recebedor</th>
      <th scope="col">Fornecedor</th>
      <th scope="col">Livro Fornecido</th>
      <th scope="col">Data Do Emprestimo</th>

    </tr>
  </thead>
  <tbody>
    <tr>
        @if(Model != null)
        {
            @foreach(var emprestimos in Model)
            {
                <tr>
                    <th scope="row">@emprestimos.Id</th>
                    <td>@emprestimos.Recebedor</td>
                    <td>@emprestimos.Fornecedor</td>
                    <td>@emprestimos.LivroEmprestado</td>
                    <td>@emprestimos.DataEmprestimo</td>
                </tr>
            }
        }

  </tbody>
</table>
</div>