@model IEnumerable<EmprestimosModel>
@{
    ViewData["Title"] = "Emprestimos";
}
<div class="conteiner">
    <div class="d-flex justify-content-between align-itens-center mb-5">
        <h1>Empréstimos</h1>
        <a class="btn btn-success my-2" asp-controller="Emprestimos" asp-action="Cadastrar">
            <i class="bi bi-person-add"></i> Fazer Empréstimo
        </a>
    </div>

<table id="TabelaEmprestimos" class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Recebedor</th>
      <th scope="col">Fornecedor</th>
      <th scope="col">Livro Fornecido</th>
      <th scope="col">Data Do Emprestimo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        @if(Model != null)
        {
            @foreach(var emprestimos in Model)
            {
                <tr>
                    <td>@emprestimos.Recebedor</td>
                    <td>@emprestimos.Fornecedor</td>
                    <td>@emprestimos.LivroEmprestado</td>
                    <td>@emprestimos.DataEmprestimo</td>
                    <td>
                            <a asp-controller="Emprestimos" asp-action="Editar" asp-route-id="@emprestimos.Id" class="btn btn-warning mx-4"><i class="bi bi-pencil-square"></i> Editar</a>
                            <a asp-asp-controller="Emprestimos" asp-action="Excluir" asp-route-id="@emprestimos.Id" class="btn btn-danger mx-4"><i class="bi bi-trash"></i> Excluir</a>
                    </td>
                </tr>
            }
        }

  </tbody>
</table>
</div>